.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.vscodeignore
.gitattributes
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
package-vsix.sh
*.gitignored.*
